[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1"
flask-migrate = "*"
flask-wtf = "*"
flask-login = "*"
flask-cors = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
