#title {
	margin: auto;
	text-align: center;
}

#background {
	width: 100%;
	height: 100%;
	background-image: url('../../images/gameBackground.jpg');
	/* background-position: center; */
	background-size: cover;
}

#logo {
	/* background-image: url(../../images/word-spot-logo.png);
	background-position: center;
	background-size: cover;
	width: 500px;
	height: 200px;
	background-repeat: no-repeat; */
}
