body {
	width: 100%;
	margin: 0;
	background-image: url('../../images/gameBackground.jpg');
	background-size: 1000px 1000px no-repeat;
}

#background {
	height: 100%;
	margin-bottom: -50px;
}

#logoContainer {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding-top: 25px;
}

#logoBackground {
	background-image: url('../../images/letterGridBackground.jpg');
	min-width: 360px;
	height: 110px;
	border-radius: 43px;
}

#logo {
	background-image: url(../../images/wordspot-logo-v2.png);
	background-position: center;
	background-size: 375px 375px;
	width: 360px;
	height: 110px;
	border-radius: 43px;
	background-repeat: no-repeat;
}
