#logo {
	/* margin: auto; */
	/* text-align: center; */
	margin: 0;
}

#background {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url('../../images/gameBackground.jpg');
	background-size: cover;
	/* background-position: center; */
}

#logo {
	/* background-image: url(../../images/word-spot-logo.png);
	background-position: center;
	background-size: cover;
	width: 500px;
	height: 200px;
	background-repeat: no-repeat; */
}
