#letterGridContainer {
	display: flex;
	justify-content: center;
}

#letterGrid {
	width: 750px;
	height: 750px;
	display: flex;
	flex-direction: column;
	border: 3px solid rgb(177, 151, 95);
	border-radius: 6px;
	padding: 20px;
	box-shadow: 5px 5px 15px;
	background-image: url('../../../images/letterGridBackground.jpg');
	background-position-x: -200px;
}

.gridRow {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.letterContainer {
	width: 150px;
	height: 150px;
	border: 5px solid burlywood;
	border-radius: 15px;
	background-image: url('../../../images/letterBackground.jpg');
	background-position: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.letterContainer:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.letterContainer:active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 5px solid rgb(136, 110, 75);
}

.selectedLetter {
	border: 5px solid rgb(136, 110, 75);
	border-radius: 15px;
}

.letter {
	font-family: 'Raleway';
	pointer-events: none;
	font-size: 100px;
	font-weight: 600;
}
