/* TODO Add site wide styles */
*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway';
}

h1,
h2,
h3 {
	font-family: 'Raleway';
}

h1 {
	font-size: 50px;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	overflow: overlay;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0;
}

#root {
	height: 100vh;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	/* background-color: rgb(250, 229, 204); */
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #b0895a;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(136, 110, 75);
}

::-webkit-scrollbar-corner {
	background-color: rgb(250, 229, 204);
}

.lightFont {
	color: rgb(250, 229, 204);
	text-shadow: 2px 2px 5px rgb(136, 110, 75);
}

.letterLightFont {
	color: rgb(250, 229, 204);
	text-shadow: 3px 4px rgb(136, 110, 75);
}

.darkFont {
	color: rgb(136, 110, 75);
}

.lightBkgrnd {
	background-color: rgb(250, 229, 204);
	border: 4px solid burlywood;
}

.lightHover:hover {
	color: rgb(250, 229, 204);
	text-shadow: 1px 2px 5px rgb(136, 110, 75);
}

.darkHover:hover {
	color: rgb(136, 110, 75);
}

.rounded {
	border-radius: 5px;
}

.btn {
	font-family: 'Raleway';
	background-color: #deb887;
	text-align: center;
	line-height: 1px;
	font-weight: 800;
	cursor: pointer;
	background-image: url('../src/images/letterBackground.jpg');
	background-position: center;
	border: 4px solid burlywood;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:hover {
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.19);
}

.font-larger {
	font-size: large;
	font-weight: 600;
}

.darkHover2:hover {
	color: rgb(245, 192, 124);
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
